<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DICE App</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='smooth_scrolling.js') }}"></script>
<script src="{{ url_for('static', filename='config_goals.js') }}"></script>

<nav class="navbar fixed-top border-bottom bg-white bg-opacity-75 border-opacity-50">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Logo" width="30" height="30">
            &nbsp; &nbsp;DICE App
        </a>
        <!-- Add form for session code input
        <form class="d-flex" onsubmit="retrieveSessionData(event)">
          <input class="form-control me-2" type="search" placeholder="Enter session code" aria-label="Session code" id="sessionCodeInput">
          <button class="btn btn-outline-success" type="submit">Get Data</button>
        </form>
        -->
    </div>
</nav>

<div class="px-4 pt-5 mt-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">DICE</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Create Digital In-Context Experiments (DICE) to mimic and manipulate social media, news or shopping feeds,
            all without a single line of code. Simply configure your stimuli, distribute them via Prolific and append a Qualtrics questionnaire.</p>
        <div class = "d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a class= "btn btn-primary btn-lg px-4" href="https://ibt-hsg.herokuapp.com/demo" target="_blank" role="button"> Demo </a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="#configureStudySection">Configure a Study</a>
{#            <a class="btn btn-outline-secondary btn-lg px-4" href="#dataSection">Data</a>#}
{#            <a class="btn btn-outline-secondary btn-lg px-4" href="https://github.com/Howquez/DICE?tab=readme-ov-file#-digital-in-context-experiments-dice" target="_blank">Contribute</a>#}
            <a class="btn btn-outline-secondary btn-lg px-4" href="/docs/index.html" target="_blank">Documentation</a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
        <div class="container px-5">
            <img src="{{ url_for('static', filename='screenshot.png') }}" class="img-fluid border-0 mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>

<div id="configureStudySection" class="bg-body-tertiary overflow-hidden">
    <div class="container my-3 py-3">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="display-5 mt-4 text-center">Configure a Study</h2>
                <p class="lead text-center">
                    In just a few clicks, you can create and customize your social media experiment. No coding required.
                    The following form walks you through the process of creating your own DICE experiment.
                    To start, choose <code>Testing</code> if you are in the development phase and want to quickly create and test a set of stimuli, as this option will skip some of the detailed configuration steps.
                    Choose <code>Final Configuration</code> once you tested your stimuli and want to configure your final experiment.
                </p>
                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btnradio1">Testing</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btnradio2">Final Configuration</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class= "container-md my-5">
    <div class= "row justify-content-center">
        <div class= "col-lg-8 col-md-10">



            <div id="card1" class="card my-4 border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">
                        1. Meta Information
                    </h5>
                    <p class="card-text text-muted">
                        <small>
                            Please provide some meta and contact information. The contact information will be displayed in the privacy policy and
                            on the final debriefing page if you do not direct the participants to a post-stimulus survey.
                        </small>
                    </p>
                    <form>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <select class="form-select" id="title" aria-describedby="title_help">
                                <option value="Dr.">Dr.</option>
                                <option value="Prof.">Prof.</option>
                                <option value="Ms.">Ms.</option>
                                <option value="Mr.">Mr.</option>
                            </select>
                            <div id="title_help" class="form-text">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="name_help" value="" placeholder="Jane Doe" required>
                            <div id="name_help" class="form-text">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="eMail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="eMail" placeholder="name@example.com" required>
                        </div>

                        <div class="mb-3">
                            <label for="external_name" class="form-label">External study name</label>
                            <input type="text" class="form-control" id="external_name" value="" placeholder="A Social Media Study" required>
                        </div>
                        <div class="mb-3">
                            <label for="internal_name" class="form-label">Internal study name (not visible to participants)</label>
                            <input type="text" class="form-control" id="internal_name" value="" placeholder="Social Media Study Pilot" required>
                        </div>
                    </form>
                </div>
            </div>

            <div id="card2" class="card my-4 border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">
                        2. Recruitment
                    </h5>
                    <p class="card-text text-muted">
                        <small>
                        </small>
                    </p>
                    <form>
                        <div class="mb-3">
                            <label for="recruitment_platform" class="form-label">Choose Your Recruitment Platform</label>
                            <select class="form-select" id="recruitment_platform" aria-describedby="recruitment_help">
                                <option value="Lab">Lab</option>
                                <option value="Prolific" selected>Prolific</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="participant_number" class="form-label">Specify the Number of Rows in Database</label>
                            <input type="number" class="form-control w-100" id="participant_number" aria-describedby="participant_help" value="1" min="0" max="600">
                            <div id="participant_help" class="form-text">
                                Please specify the desired number of participants and account for attrition:
                                Each participation uses one slot, regardless of whether the participant completes the survey.
                                Potential participants who try to enter the experiment after all slots (rows in the database)
                                are used, cannot do so.
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="card3" class="card my-4 border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">
                        3. Stimulus Design
                    </h5>
                    <p class="card-text text-muted">
                        <small>
                            Please use the following forms to specify the content you want to display in the social media feed and
                            the way it is displayed.
                        </small>
                    </p>
                    <form>
                        <div class="mb-3">
                            <label for="channel_type" class="form-label">Choose Media Platform to Mimic</label>
                            <select class="form-select" id="channel_type" aria-describedby="title_help">
                                <option value="Twitter">Twitter</option>
                                <option value="Linkedin">WIP: Linkedin</option>
                                <option value="Generic">WIP: Generic</option>
                                <!-- <option value="Mass_Media">Mass Media</option>-->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="content_url" class="form-label">Provide URL Directing to Your Content</label>
                            <input type="text" class="form-control" id="content_url" aria-describedby="url_help" value="https://raw.githubusercontent.com/Howquez/DICE/main/software/DICE/DICE/static/data/sample_tweets.csv">
                            <div id="url_help" class="form-text">
                                Please provide a url directing to your raw, UTF-8 formatted csv file (preferably GitHub or Google Drive).
                                <a href="{{ url_for('static', filename='sample_feed.csv') }}" download="sample_feed.csv">Click here</a>
                                to download a sample *.csv file that you can use as a template.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="delimiter" class="form-label">Specify Your CSV Delimiter.</label>
                            <select class="form-select" id="delimiter" aria-describedby="delimiter_help">
                                <option value=";">Semicolon</option>
                                <option value=",">Comma</option>

                            </select>
                            <div id="delimiter_help" class="form-text">
                                Please select the character that separates the data fields in your CSV file.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="search_term" class="form-label">Provide a Term Displayed in Search Bar</label>
                            <input type="text" class="form-control" id="search_term" aria-describedby="search_help" value="#myHashtag">
                            <div id="search_help" class="form-text">
                                Consider using a hashtag as a prefix.
                            </div>
                        </div>

                        <div class="form-check form-switch" style="display: none">
                            <input class="form-check-input" type="checkbox" role="switch" id="display_skyscraper" disabled>
                            <label class="form-check-label" for="display_skyscraper">Display  Skyskraper Banner Ads</label>
                        </div>
                    </form>
                </div>
            </div>

            <div id="card4" class="card my-4 border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">
                        4. Experimental Control
                    </h5>
                    <p class="card-text text-muted">
                        <small>
                            Please read the following instructions on how to define conditions participants will be randomly assigned to.
                        </small>
                    </p>
                    <h6 class="mb-0">
                        Conditions
                    </h6>
                    <p class="text-secondary">
                        The data you provide must contain a column called <code>condition</code>.
                        This column can take one or as many values as you need.
                        Participants will be randomly assigned to one of the values (that represent conditions) in that column.
                    </p>

                    <h6 class="mb-0">
                        Sequence
                    </h6>
                    <p class="text-secondary">
                        The data must also contain a column called <code>sequence</code>.
                        This columns specifies the order in which the posts are displayed.
                        Provide unique numeric value per row if you want to control the order. The post associated to the lowest number will
                        be displayed on top of the feed, the post associated to the highest number will be displayed
                        at the bottom. If two or more rows contain missing values, their order will be randomized.
                        You can provide both a condition and a sorting variable to mimic different recommender- and
                        sorting algorithms.
                    </p>
                </div>
            </div>

            <div id="card5" class="card my-4 border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">
                        5. Briefing
                    </h5>
                    <p class="card-text text-muted">
                        <small>
                            Please use HTML to specify the briefing participants read prior to the feed exposure.
                            The whole page is skipped if you leave this field empty.
                        </small>
                    </p>
                    <form>
                        <div class="mb-3">
                            <label for="html_briefing" class="form-label">Provide Briefing (in HTML)</label>
                            <textarea class="form-control border-light border-3" id="html_briefing" name="html_briefing" rows="6" aria-describedby="briefing_help"><h5>This could be your briefing</h5><p>Use HTML syntax to format your content to your liking.</p></textarea>
                            <div id="briefing_help" class="form-text">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="card6" class="card my-4 border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">
                        6. Measurement
                    </h5>
                    <p class="card-text text-muted">
                        <small>
                            Plese use the following forms to define what you measure and how you measure it.
                        </small>
                    </p>
                    <form>
                        <div class="mb-3">
                            <label for="survey_url" class="form-label">Insert Your Survey's URL</label>
                            <input type="text" class="form-control" id="survey_url" aria-describedby="survey_url_help" value="https://unisg.qualtrics.com/jfe/form/SV_0DnMoLpM0VxjhrM">
                            <div id="survey_url_help" class="form-text">
                                Configure this  field, if you want to append a survey to the stimulus.
                                We'll create a redirect with url parameters to pass both the participant ID as well as
                                the completion code (for Prolific). Make sure that your survey tool accepts them
                                (see <a href="https://researcher-help.prolific.com/hc/en-gb/articles/360009224113-Qualtrics-integration-guide" target="_blank">embedded data documentation</a>
                                if you are using Qualtrics).Please provide a url directing to your survey. Please don't add any manual url parameters.
                                If you leave this field empty, the study will close with an end of survey screen that provides
                                your contact information provided above.
                            </div>
                        </div>
                        <label for="dwell_threshold" class="form-label">Dwell Time Tracking Threshold</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">%</span>
                            <input type="number" class="form-control" id="dwell_threshold" value="75" min="1" max="100">
                            <div id="dwell_threshold_help" class="form-text">
                                This setting determines the visibility threshold for tracking dwell time.
                                It represents the percentage of a social media post that must be visible to the participant before it's considered "in view".
                                A lower value (closer to 1%) will track social media posts as soon as they're barely visible,
                                whereas a higher value (closer to 100%) will only track rows when they're almost fully visible.
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card my-4 border-0 shadow" id="adCard" style="display: none;">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">
                        Skyscraper Banner Ad
                    </h5>
                    <p class="card-text text-muted">
                        <small>
                        </small>
                    </p>
                </div>
            </div>

            <button id="createSessionBtn" type="button" class="btn btn-primary">Create Session</button>

            <div id="alertPlaceholder"></div>

            <!-- Completion Code Section -->
            <div id="completionCodeSection" class="card my-4 border-0 shadow" style="display: none;">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">
                        7. Completion Code
                    </h5>
                    <p class="card-text text-muted">
                        <small>
                            Please enter the completion code if you have selected Prolific as your recruitment platform.
                        </small>
                    </p>
                    <form id="completionCodeForm">
                        <div class="mb-3">
                            <label for="completionCode" class="form-label">Completion Code</label>
                            <input type="text" class="form-control" id="completionCode" placeholder="Enter Completion Code">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="submitCompletionCode();">Submit Code</button>
                    </form>
                </div>
            </div>

            <div id="completionAlertPlaceholder"></div>

        </div>
    </div>
</div>
</div>

<!--
<div id="dataSection" class= "text-bg-primary text-center overflow-hidden">
    <div class="container my-3 py-3">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="display-5 mt-4 text-center">Data </h2>
                <p class= "lead">Use our
                    <a class="text-white" href="https://roggenkamp.shinyapps.io/DICE-Preprocessing/" target="_blank">oTree</a>
                    Shiny App to process your data and get the most out of DICE, code-free!
                </p>
            </div>
        </div>
    </div>
</div>

<div id="contributeSection" class="bg-body-tertiary overflow-hidden">
    <div class="container my-3 py-3">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="display-5 mt-4 text-center">Contribute </h2>
                <p class="lead text-center">
                    To foster collaborative development, we intentionally made DICE open-source and chose to use widely used frameworks such as the Python-based
                    <a href="https://www.otree.org/" target="_blank">oTree</a>,
                    <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a>, and
                    <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank">Bootstrap</a>
                    as DICE's foundation to invite researchers to contribute to and, ultimately, enhance DICE.
                </p>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-lg-8">
                <div class="card-group">

                    <div class="card mb-3 me-2 border-0 shadow rounded-3">
                        <div class="card-body">
                            <p class="lead text-center">Your Contributions Matter</p>
                            <p class="card-text text-center">
                                Whether you're contributing code, participating in problem-solving, or sharing your research findings, your contributions are pivotal.
                                With each shared idea or line of code, you help refine DICE's functionality and user experience.
                            </p>
                        </div>
                    </div>

                    <div class="card mb-3 ms-2 border-0 shadow rounded-3">
                        <div class="card-body">
                            <p class="lead text-center">Ways to contribute:</p>
                            <p class="">
                                Code Development<br>
                                <small>Enhance the DICE with your Python skills or help us create additional user interfaces with Bootstrap.</small><br><br>
                                Suggestions<br>
                                <small>Have an idea for a new feature? We welcome your proposals to help make DICE more versatile and user-friendly.</small><br><br>
                                Issue Reporting<br>
                                <small>Encounter a glitch? Let us know. Your reports help us maintain a seamless experience for researchers and study participants.</small>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
-->

<footer class="bg-light text-lg-start mt-4">
    <div class="row justify-content-end p-3 text-secondary bg-light border-top border-opacity-50 bg-opacity-25">
        <div class="col-lg-4 col-md-5 col-sm-6 mb-3 pe-5 pt-3">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Logo" width="30" height="30">
                &nbsp; &nbsp;DICE App
            </a>
            <ul class="list-unstyled small text-muted mt-3">
                <li class="mb-2">Designed and built with Bootstrap and for oTree.</li>
                <li class="mb-2">Code licensed <a class="text-secondary" href="https://github.com/Howquez/DICE/blob/main/LICENSE" target="_blank" rel="license noopener"> under MIT License</a> with added citation requirement.</li>
                <li class="mb-2">No web analytics implemented.</li>
                <li class="mb-2">© 2023 HCR</li>
                <li class="mb-2">No <a class="text-secondary" href="IMPRINT_URL" target="_blank">Imprint</a> yet.</li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>